<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="APP-USE-INFO-JSON-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<!--设置日志信息输出文件全路径名-->
		<param name="file" value="${catalina.home}/logs/behavior/user-behavior-json.log" />
		<!--设置数据追加模式-->
		<param name="append" value="true" />
		<!--设置日志每小时回滚，即产生一个新的文件-->
		<param name="datePattern" value="'.'yyyy-MM-dd-HH"/>
		<!--设置日志输出样式-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>

	<appender name="ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file"
			   value="${catalina.homtrue" />
		<param name="threshold" value="e}/logs/behavior/behavior-common-error.log" />
		<param name="append" value="error" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	<logger name="APP-USE-INFO-JSON" additivity="false">·
		<level value="info" />
		<appender-ref ref="APP-USE-INFO-JSON-APPENDER" />
	</logger>
	
	<root>
		<level value="info" />
 		<appender-ref ref="Console" />
		<appender-ref ref="ERROR-APPENDER" />
	</root>
</log4j:configuration> 