<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="hbaseClient" class="com.djt.common.HBaseClient">
        <constructor-arg index="0" value="${behavior.hbase.zookeeper.quorum}" />
        <constructor-arg index="1" value="${behavior.hbase.zookeeper.property.client.port}" />
    </bean>
</beans>